
<nav>
    <ul id="buttons">
            <li class="links"><a href="/">
                <i class="fa-solid fa-house"></i>
                 Home</a> </li>
            
            
            
            <li class="links"><a href="/posts" >
                <i class="fa-solid fa-envelopes-bulk"></i>
                 Posts</a> </li>
            
            
            <li class="links"><a href="/aboutme">
                <i class="fa-solid fa-address-card"></i>
                 About me</a> </li>

            <li class="links" style="float: right;"><a href="/Contacts">
                <i class="fa-solid fa-address-book"></i>
                Contact </a> </li>
        </ul>
</nav>